            <li>
              <button id="hiit-beginner" class="choice-btn" data-value="hiit-beginner">
                <div class="block">
                  <div class="w-full text-lg text-black font-semibold">Beginner</div>
                  <div class="w-full text-gray-500 dark:text-gray-400">
                    30-45 minute workouts, 3 days a week</div>
                </div>
                <svg class="ms-3 h-4 w-4 text-gray-500 rtl:rotate-180 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"></path>
                  </svg>
              </button>
            </li>
            <li>
              <button id="hiit-intermediate" class="choice-btn" data-value="hiit-intermediate">
                <div class="block">
                  <div class="w-full text-lg text-black font-semibold">Intermediate</div>
                  <div class="w-full text-gray-500 dark:text-gray-400">60-75
                    minute workouts, 4-5 days a week</div>
                </div>
                <svg class="ms-3 h-4 w-4 text-gray-500 rtl:rotate-180 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"></path>
                  </svg>
              </button>
            </li>
            <li>
              <button id="home-advanced" class="choice-btn" data-value="home-advanced">
                <div class="block">
                  <div class="w-full text-lg text-black font-semibold">Advanced</div>
                  <div class="w-full text-gray-500 dark:text-gray-400">maybe add
                    a note about the routine</div>
                </div>
                <svg class="ms-3 h-4 w-4 text-gray-500 rtl:rotate-180 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"></path>
                  </svg>
              </button>
            </li>
          </ul>
          <button
            class="inline-flex w-full justify-center rounded-lg bg-blue-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" id="next-btn">Next step</button>
        </div>
      </div>
    </div>
  </div>







            <li>
              <button id="home-routines" class="choice-btn" data-value="home">
                <div class="block">
                  <div class="w-full text-lg text-black font-semibold">At Home</div>
                  <div class="w-full text-gray-500 dark:text-gray-400">Beginner
                    to Advanced routines with little to no equipment required</div>
                </div>
                <svg class="ms-3 h-4 w-4 text-gray-500 rtl:rotate-180 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"></path>
                  </svg>
              </button>
            </li>