<!-- Main layout for the application -->
<html lang="en" class="h-full bg-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Active Peak</title>
    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="/css/output.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet"/>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="h-full">
  <main>
    <!-- Navigation bar -->
<nav class="bg-gray-500 w-full mx-auto sm:px-6 lg:px-8 flex justify-center justify-items-center">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative h-16 flex items-center justify-between">
      <div class="flex items-center justify-center flex-shrink-0">
        <img class="h-14 w-14 rounded-full shadow-lg" src="/images/ActivePeakNan.png" alt="Your Company Logo">
        <h1 class="text-gray-900 text-3xl font-bold ml-4">Active Peak</h1>
      </div>
    <!-- If the user is logged in, display the logout button. -->
    {{#if logged_in}}
    <div class="flex justify-center items-center">
  <div class="flex justify-center items-center flex-shrink-0 mx-10">
      <button id="logout" type="click" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Log Out</button>
  </div>
    {{/if}}
    </div>
  </div>
      </div>
    </div>
  </div>
</nav>
<!-- Main content displayed through handlebars syntax. -->
<div>
    {{{body}}}
</div>
  </main>
  <!-- If logged in, use the logout script. -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>
