<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Active Peak</title>
    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="/css/output.css" />
  </head>
  <body>
    <header>
      <nav>
        {{#if loggedIn}}
          <li><a href="#">Home</a></li>
          <li><a href="#">Profile</a></li>
        {{else}}
          <li><a href="/">Home</a></li>
          <li><a href="/login">Profile</a></li>
        {{/if}}
      </nav>
    </header>

    <main>
      {{{body}}}
    </main>
    {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
  </body>
</html>