<!-- Main layout for the application -->
<html lang="en" class="h-full bg-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Active Peak</title>
    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="/css/output.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="h-full">
    <nav class="bg-gray-500 w-full">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 h-16 flex items-center relative">
    <!-- Logo and company name -->
    <div class="flex items-center">
      <img class="h-14 w-14 rounded-full shadow-lg" src="/images/ActivePeakNan.png" alt="Your Company Logo">
      <h1 class="text-gray-900 text-3xl font-bold ml-4">Active Peak</h1>
    </div>
    <!-- Logout button (conditionally rendered if logged in) -->
    {{#if logged_in}}
    <div class="absolute right-0 mr-4">
      <button id="logout" type="click" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Log Out</button>
    </div>
    {{/if}}
  </div>
  </div>
</nav>
      <!-- Main content displayed through handlebars syntax. -->
    <main class="h-full">
        {{{body}}}
    </main>
    <!-- If logged in, use the logout script. -->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"
    ></script>
  </body>
</html>