<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Active Peak</title>
    <link rel="stylesheet" href="../../public/css/output.css" />
  </head>
  <body>
    <header>
      <ul>
        {{#if loggedIn}}
          <li><a href="#">Home</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Workouts</a></li>
        {{else}}
          <li><a href="/">Home</a></li>
          <li><a href="/">Profile</a></li>
          <li><a href="/">Workouts</a></li>
        {{/if}}
      </ul>
    </header>

    <main>
      {{{body}}}
    </main>
  </body>
</html>