<!-- This is the profiles display page. It contains the user's profile information and a list of their routines. -->
<div class="container mx-auto">
  <div class="bg-white rounded shadow p-6">
    <h2 class="text-2xl font-bold mb-2">Profile</h2>
    <p><strong>Name:</strong> {{this.Users.users_name}}</p>
  </div>
  <!-- This is the list of routines that displays after going through the Modal to select a prefered workout routine. -->
  {{#each routines as |Routine|}}
    <div class="border-t pt-2">
      <a href="/routines/{{Routine.id}}">
        <p><strong>Routine Name:</strong> {{Routine.Routine_name}}</p>
      </a>
    </div>
  {{/each}}
  <!-- Modal toggle button for creating a routine -->
  <div class="mt-10 bg-white rounded shadow p-6">
    <h2 class="text-2xl font-bold mb-2">Routines</h2>
    <button
      id="select-modal"
      type="button"
      data-modal-target="select-modal"
      data-modal-toggle="select-modal"
      class="block text-white bg-red-600 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-gray-700 dark:focus:ring-red-800"
    >
      Create New Routine
    </button>
  </div>
  <div
    id="home-or-gym"
    tabindex="-1"
    aria-hidden="true"
    class="fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full items-center justify-center overflow-y-auto overflow-x-hidden md:inset-0"
  >
    <div class="relative max-h-full w-full max-w-md p-4">
      <!-- Modal content -->
      <div class="relative rounded-lg bg-white shadow dark:bg-gray-700">
        <!-- Modal header -->
        <div
          class="flex items-center justify-between rounded-t border-b p-4 md:p-5 dark:border-gray-600"
        >
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Where
            will you be training?</h3>
          <button
            type="button"
            class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-toggle="select-modal"
          >
            <svg
              class="h-3 w-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <div class="p-4 md:p-5">
          <ul class="mb-4 space-y-4">
            <li>
              <input
                type="radio"
                id="home-routines"
                name="home"
                value="job-1"
                class="peer hidden"
                required
              />
              <label
                for="job-1"
                class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-900 hover:bg-gray-100 hover:text-gray-900 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-500 dark:bg-gray-600 dark:text-white dark:hover:bg-gray-500 dark:hover:text-gray-300 dark:peer-checked:text-blue-500"
              >
                <div class="block">
                  <div class="w-full text-lg font-semibold">At Home</div>
                  <div class="w-full text-gray-500 dark:text-gray-400">Beginner
                    to Advanced routines with little to no equipment required</div>
                </div>
                <svg
                  class="ms-3 h-4 w-4 text-gray-500 rtl:rotate-180 dark:text-gray-400"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                ><path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"
                  /></svg>
              </label>
            </li>
            <li>
              <input
                type="radio"
                id="gym-routines"
                name="job"
                value="job-2"
                class="peer hidden"
              />
              <label
                for="job-2"
                class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-900 hover:bg-gray-100 hover:text-gray-900 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-500 dark:bg-gray-600 dark:text-white dark:hover:bg-gray-500 dark:hover:text-gray-300 dark:peer-checked:text-blue-500"
              >
                <div class="block">
                  <div class="w-full text-lg font-semibold">At a Gym</div>
                  <div class="w-full text-gray-500 dark:text-gray-400">Beginner
                    to Intermediate routines for strength training or HIIT.
                    Basic gym equipment required</div>
                </div>
                <svg
                  class="ms-3 h-4 w-4 text-gray-500 rtl:rotate-180 dark:text-gray-400"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                ><path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"
                  /></svg>
              </label>
            </li>
          </ul>
          <button
            class="inline-flex w-full justify-center rounded-lg bg-blue-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >Next step</button>
        </div>
      </div>
    </div>
  </div>
  <!-- home-How intense? -->
  <div
    id="home-intensity"
    tabindex="-1"
    aria-hidden="true"
    class="fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full items-center justify-center overflow-y-auto overflow-x-hidden md:inset-0"
  >
    <div class="relative max-h-full w-full max-w-md p-4">
      <!-- Modal content -->
      <div class="relative rounded-lg bg-white shadow dark:bg-gray-700">
        <!-- Modal header -->
        <div
          class="flex items-center justify-between rounded-t border-b p-4 md:p-5 dark:border-gray-600"
        >
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">What
            is your experience level?</h3>
          <button
            type="button"
            class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-toggle="select-modal"
          >
            <svg
              class="h-3 w-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <div class="p-4 md:p-5">
          <ul class="mb-4 space-y-4">
            <li>
              <input
                type="radio"
                id="home-beginner"
                name="home"
                value="job-1"
                class="peer hidden"
                required
              />
              <label
                for="job-1"
                class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-900 hover:bg-gray-100 hover:text-gray-900 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-500 dark:bg-gray-600 dark:text-white dark:hover:bg-gray-500 dark:hover:text-gray-300 dark:peer-checked:text-blue-500"
              >
                <div class="block">
                  <div class="w-full text-lg font-semibold">Beginner</div>
                  <div class="w-full text-gray-500 dark:text-gray-400">maybe add
                    a note about the routine</div>
                </div>
                <svg
                  class="ms-3 h-4 w-4 text-gray-500 rtl:rotate-180 dark:text-gray-400"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                ><path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"
                  /></svg>
              </label>
            </li>
            <li>
              <input
                type="radio"
                id="home-intermediate"
                name="job"
                value="job-2"
                class="peer hidden"
              />
              <label
                for="job-2"
                class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-900 hover:bg-gray-100 hover:text-gray-900 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-500 dark:bg-gray-600 dark:text-white dark:hover:bg-gray-500 dark:hover:text-gray-300 dark:peer-checked:text-blue-500"
              >
                <div class="block">
                  <div class="w-full text-lg font-semibold">Intermediate</div>
                  <div class="w-full text-gray-500 dark:text-gray-400">maybe add
                    a note about the routine</div>
                </div>
                <svg
                  class="ms-3 h-4 w-4 text-gray-500 rtl:rotate-180 dark:text-gray-400"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                ><path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"
                  /></svg>
              </label>
            </li>
            <li>
              <input
                type="checkbox"
                id="home-advanced"
                name="job"
                value="job-2"
                class="peer hidden"
              />
              <label
                for="job-2"
                class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-900 hover:bg-gray-100 hover:text-gray-900 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-500 dark:bg-gray-600 dark:text-white dark:hover:bg-gray-500 dark:hover:text-gray-300 dark:peer-checked:text-blue-500"
              >
                <div class="block">
                  <div class="w-full text-lg font-semibold">Advanced</div>
                  <div class="w-full text-gray-500 dark:text-gray-400">maybe add
                    a note about the routine</div>
                </div>
                <svg
                  class="ms-3 h-4 w-4 text-gray-500 rtl:rotate-180 dark:text-gray-400"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                ><path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"
                  /></svg>
              </label>
            </li>
          </ul>
          <button
            class="inline-flex w-full justify-center rounded-lg bg-blue-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >Next step</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Gym-Training style? -->
  <div
    id="gym-style"
    tabindex="-1"
    aria-hidden="true"
    class="fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full items-center justify-center overflow-y-auto overflow-x-hidden md:inset-0"
  >
    <div class="relative max-h-full w-full max-w-md p-4">
      <!-- Modal content -->
      <div class="relative rounded-lg bg-white shadow dark:bg-gray-700">
        <!-- Modal header -->
        <div
          class="flex items-center justify-between rounded-t border-b p-4 md:p-5 dark:border-gray-600"
        >
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">What
            style of training do you prefer?</h3>
          <button
            type="button"
            class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-toggle="select-modal"
          >
            <svg
              class="h-3 w-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <div class="p-4 md:p-5">
          <ul class="mb-4 space-y-4">
            <li>
              <input
                type="radio"
                id="gym-strength"
                name="home"
                value="job-1"
                class="peer hidden"
                required
              />
              <label
                for="job-1"
                class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-900 hover:bg-gray-100 hover:text-gray-900 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-500 dark:bg-gray-600 dark:text-white dark:hover:bg-gray-500 dark:hover:text-gray-300 dark:peer-checked:text-blue-500"
              >
                <div class="block">
                  <div class="w-full text-lg font-semibold">Strength Training</div>
                  <div
                    class="w-full text-gray-500 dark:text-gray-400"
                  >Powerlifting style training, heavy weight, low reps, Builds
                    foundation for later more intese phases of strength
                    training.</div>
                </div>
                <svg
                  class="ms-3 h-4 w-4 text-gray-500 rtl:rotate-180 dark:text-gray-400"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                ><path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"
                  /></svg>
              </label>
            </li>
            <li>
              <input
                type="radio"
                id="gym-hiit"
                name="job"
                value="job-2"
                class="peer hidden"
              />
              <label
                for="job-2"
                class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-900 hover:bg-gray-100 hover:text-gray-900 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-500 dark:bg-gray-600 dark:text-white dark:hover:bg-gray-500 dark:hover:text-gray-300 dark:peer-checked:text-blue-500"
              >
                <div class="block">
                  <div class="w-full text-lg font-semibold">HIIT</div>
                  <div class="w-full text-gray-500 dark:text-gray-400">Circuit
                    style training, burns fat, builds endurance.</div>
                </div>
                <svg
                  class="ms-3 h-4 w-4 text-gray-500 rtl:rotate-180 dark:text-gray-400"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                ><path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"
                  /></svg>
              </label>
            </li>
          </ul>
          <button
            class="inline-flex w-full justify-center rounded-lg bg-blue-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >Next step</button>
        </div>
      </div>
    </div>
  </div>
  <!-- strength training intesnity? -->
  <div
    id="strength"
    tabindex="-1"
    aria-hidden="true"
    class="fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full items-center justify-center overflow-y-auto overflow-x-hidden md:inset-0"
  >
    <div class="relative max-h-full w-full max-w-md p-4">
      <!-- Modal content -->
      <div class="relative rounded-lg bg-white shadow dark:bg-gray-700">
        <!-- Modal header -->
        <div
          class="flex items-center justify-between rounded-t border-b p-4 md:p-5 dark:border-gray-600"
        >
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">What
            is your desired dificulty level?</h3>
          <button
            type="button"
            class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-toggle="select-modal"
          >
            <svg
              class="h-3 w-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <div class="p-4 md:p-5">
          <ul class="mb-4 space-y-4">
            <li>
              <input
                type="checkbox"
                id="strength-beginner"
                name="home"
                value="job-1"
                class="peer hidden"
                required
              />
              <label
                for="job-1"
                class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-900 hover:bg-gray-100 hover:text-gray-900 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-500 dark:bg-gray-600 dark:text-white dark:hover:bg-gray-500 dark:hover:text-gray-300 dark:peer-checked:text-blue-500"
              >
                <div class="block">
                  <div class="w-full text-lg font-semibold">Beginner</div>
                  <div class="w-full text-gray-500 dark:text-gray-400">30-45
                    minute workouts, 3 days a week</div>
                </div>
                <svg
                  class="ms-3 h-4 w-4 text-gray-500 rtl:rotate-180 dark:text-gray-400"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                ><path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"
                  /></svg>
              </label>
            </li>
            <li>
              <input
                type="checkbox"
                id="strength-intermediate"
                name="job"
                value="job-2"
                class="peer hidden"
              />
              <label
                for="job-2"
                class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-900 hover:bg-gray-100 hover:text-gray-900 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-500 dark:bg-gray-600 dark:text-white dark:hover:bg-gray-500 dark:hover:text-gray-300 dark:peer-checked:text-blue-500"
              >
                <div class="block">
                  <div class="w-full text-lg font-semibold">Intermediate</div>
                  <div class="w-full text-gray-500 dark:text-gray-400">60-75
                    minute workouts, 4-5 days a week</div>
                </div>
                <svg
                  class="ms-3 h-4 w-4 text-gray-500 rtl:rotate-180 dark:text-gray-400"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                ><path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"
                  /></svg>
              </label>
            </li>
          </ul>
          <button
            class="inline-flex w-full justify-center rounded-lg bg-blue-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >Next step</button>
        </div>
      </div>
    </div>
  </div>
  <!-- HIIT training difficulty? -->
  <div
    id="hiit"
    tabindex="-1"
    aria-hidden="true"
    class="hidden fixed left-0 right-0 top-0 z-50 h-[calc(100%-1rem)] max-h-full w-full items-center justify-center overflow-y-auto overflow-x-hidden md:inset-0"
  >
    <div class="relative max-h-full w-full max-w-md p-4">
      <!-- Modal content -->
      <div class="relative rounded-lg bg-white shadow dark:bg-gray-700">
        <!-- Modal header -->
        <div
          class="flex items-center justify-between rounded-t border-b p-4 md:p-5 dark:border-gray-600"
        >
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">What
            is your desired dificulty level?</h3>
          <button
            type="button"
            class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-toggle="select-modal"
          >
            <svg
              class="h-3 w-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <div class="p-4 md:p-5">
          <ul class="mb-4 space-y-4">
            <li>
              <input
                type="checkbox"
                id="hiit-beginner"
                name="home"
                value="job-1"
                class="peer hidden"
                required
              />
              <label
                for="job-1"
                class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-900 hover:bg-gray-100 hover:text-gray-900 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-500 dark:bg-gray-600 dark:text-white dark:hover:bg-gray-500 dark:hover:text-gray-300 dark:peer-checked:text-blue-500"
              >
                <div class="block">
                  <div class="w-full text-lg font-semibold">Beginner</div>
                  <div class="w-full text-gray-500 dark:text-gray-400">30-45
                    minute workouts, 3 days a week</div>
                </div>
                <svg
                  class="ms-3 h-4 w-4 text-gray-500 rtl:rotate-180 dark:text-gray-400"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                ><path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"
                  /></svg>
              </label>
            </li>
            <li>
              <input
                type="checkbox"
                id="hiit-intermediate"
                name="job"
                value="job-2"
                class="peer hidden"
              />
              <label
                for="job-2"
                class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-900 hover:bg-gray-100 hover:text-gray-900 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-500 dark:bg-gray-600 dark:text-white dark:hover:bg-gray-500 dark:hover:text-gray-300 dark:peer-checked:text-blue-500"
              >
                <div class="block">
                  <div class="w-full text-lg font-semibold">Intermediate</div>
                  <div class="w-full text-gray-500 dark:text-gray-400">60-75
                    minute workouts, 4-5 days a week</div>
                </div>
                <svg
                  class="ms-3 h-4 w-4 text-gray-500 rtl:rotate-180 dark:text-gray-400"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                ><path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"
                  /></svg>
              </label>
            </li>
          </ul>
          <button
            class="inline-flex w-full justify-center rounded-lg bg-blue-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >Next step</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/modal.js"></script>