<div class="container mx-auto">
        <div class="bg-white rounded shadow p-6">
            <h2 class="text-2xl font-bold mb-2">Profile</h2>
            <p><strong>Name:</strong> {{user.users_name}}</p>
        </div>

        <div class="mt-10 bg-white rounded shadow p-6">
            <h2 class="text-2xl font-bold mb-2">Routines</h2>
            <a href="/api/routines" class="bg-red-600 hover:bg-gray-500 text-white font-bold py-2 px-4 rounded">
            Create New Routine
        </a>
            {{#each routines}}
            <div class="border-t pt-2">
                <a href="/routines/{{routine.id}}">
                <p><strong>Routine Name:</strong> {{routine.routine_name}}</p>
            </div>
            {{/each}}
        </div>
    </div>
</div>
